.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the minimum width as needed */
    grid-gap: 20px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  background-color: var(--light-green);
  color: var(--main-green);
  border: solid 1px var(--main-green);
  padding: 8px 16px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:hover {
  background-color: var(--main-green);
  color: var(--main-background);
}

.paginationButton.active {
    background-color: var(--main-green);
    color: var(--main-background);
}

.paginationText {
  font-size: 16px;
  margin: 0 10px;
  color: var(--main-green);
}

  
  @media screen and (max-width: 768px) {
    .cardContainer {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust for smaller screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .cardContainer {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust for mobile devices */
    }
  }
  