/* YourComponentStyles.css */

.eventInfo {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  height: 410px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.eventTitle {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.eventContainer {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.eventDetails {
  font-size: 14px;
}

.eventImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 10px;
}

.eventButton {
  margin-top: 10px;
}

.deleteButton {
  background-color: var(--main-orange);
  color: var(--main-background);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: var(--orange-light);
  color: var(--main-orange);
}

.updateEventButton,
.CreateEventButton {
  /* Add common styles for update and create buttons */
  background-color: var(--main-orange);
  color: var(--main-background);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.updateEventButton:hover,
.CreateEventButton:hover {
  /* Add common styles for hover effect */
  background-color: var(--orange-light);
  color: var(--main-orange);
}

.updateEventButton {
  margin-right: 10px;
}
