.Title {
  font-size: 20px;
  color: var(--main-green);
}

.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.formContainer {
  flex-basis: 70%;
  width: 100%;
  padding: 20px;

  border-radius: 10px;
}
.image-container img {
  max-width: 100%;
}

.formcls {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.labelcls {
  display: block;
  margin-bottom: 10px;
}

.inputTextcls,
.inputDatecls,
.selectcls,
.textAreacls {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.buttoncls {
  width: 100%;
  padding: 10px;
  background-color: var(--main-green);
  color: var(--light-green);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttoncls:hover {
  background-color: var(--main-green);
}
