@import "../App.css";

.footer {
  margin-top: 20px;
  height: 40px;
  background-color: var(--orange-light);

}


.columns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 100%;
  color: var(--main-orange);
  margin-inline: 80px;
}
.column, .column p, .copyrights p{
  background-color: transparent;
}

.copyrights{
  background-color: var(--main-orange);
  color: var(--main-background);
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .columns p {
    flex-basis: 100%;
    padding: 1em;
    font-size: 0.9em;
  }
}
