@import "../App.css";

.footerWrapper {
  max-height: 5vh;
  position: relative;
}

.footer {
  background-color: #00798a;
  padding: 2px 0;
  flex-shrink: 0;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
}

.columns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.columns p {
  flex: 1;
  text-align: center;
  padding: 0.5em;

  line-height: 1.6;
  text-align: center;
  color: #ec848e; /* Meetup primary color */
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .columns p {
    flex-basis: 100%;
    padding: 0.5em;
    font-size: 0.8em;
  }
}
