@import '../App.css';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
    margin: 0 80px 40px 80px;
}

.logo {
    width: 100px;
    height: auto;
}
.logoContainer button{
    border: none;
}

.links {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 20px;
}

.link button {
    border: none;
    color: var(--main-green);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links .link:nth-last-child(2) button {
    background-color:var(--main-orange) ;
}


.links .link:last-child button {
    background-color: var(--main-green);
}
.links .link:last-child button, .links .link:nth-last-child(2) button, .logout{
    color:var(--main-background);
    padding: 4px 8px;
    border-radius: 8px;
}

.logout{
    background-color: var(--main-green);
    border: none;
    cursor: pointer;
    margin-left: 20px;

}

@media only screen and (max-width: 768px) {
    .logoContainer .logo{
        width: 70px;
    }
    .navbar {
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        font-size: 12px;
    }
}