@import '../App.css';

/* Navbar.module.css */

/* Navbar.module.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.links {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 20px;
    /* Adjust the spacing between links if needed */
}

.link button {
    border: none;
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
    }

    .links {
        margin-top: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .link {
        margin: 5px 0;
        /* Adjust the spacing between links if needed */
    }
}