@import '../App.css';


.profileContainer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid var(--main-green);
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

/* .welcomeSection {
    margin-bottom: 20px;
} */

/* .profileSection {
    margin-bottom: 20px;
} */

/* h1 {
    margin: 0.5em;
} */

.userEmail {
    font-size: 3em;

}

.profilePicture {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-color: #ecc2c2;
    border-radius: 50%;
    overflow: hidden;
}

.eventsSection {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.eventsSection h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

.event {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.buttonWrapper {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3em;

}

.buttonLogOut {
    background-color: var(--main-green);
    padding: 4px 8px;
    border-radius: 8px;
    color: white;
    border: none;

}

.userPageTitle {
    padding-bottom: 1em;
    font-size: 2em;
}

.username {
    font-size: 2em;
    color: var(--main-green);
}

@media only screen and (max-width: 768px) {

    .profileContainer,
    .username {
        height: 200px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }

}