#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


footer {
  background-color: rgb(207, 198, 198);
  padding: 2px 0;
  flex-shrink: 0;
  position: relative;
  /* margin-bottom: auto !important; */
  /* width: 100%; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* height: 100px; */

}